html {
    background-color: black;
    overflow:visible;
    height:100%;
    width:100%;
}
body {
    margin:0;
    overflow: visible;
    height:100%;
    width:100%;
}

#container{
    position:absolute;
    width:100px;
    height:100px;
    padding-left: 50%;
    padding-top: 50%;
}


#a1 {
    position:absolute;
    left:45%;
    top:40%;
   
}

#a2{
    position:absolute;
    left:40%;
    top: 55%;
}


#a3{
    position: absolute;
    left: 48%;
    top: 50%;
}

#a4{
    position: absolute;
    left: 20%;
    top: 50%;
}





