html {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/8/80/Hyades.jpg");
    overflow:visible;
    height:100%;
    width:100%;
}
body {
    margin:0;
    overflow: visible;
    height:100%;
    width:100%;
}


#a1 {
    position:absolute;
    left:45%;
    top:40%;
   
}

#a2{
    position:absolute;
    left:46%;
    top: 50%;
}


#a3{
    position: absolute;
    left: 50%;
    top: 50%;
}

#a4{
    position: absolute;
    left: 20%;
    top: 50%;
}



