@font-face {
    font-family: "Minion";
    src: url("/fonts/MinionPro-Regular.otf");
}

div {
	font-family: 'Minion';
	position:absolute;
	left: 50%;
	top:35%;
    transform: translate(-50%, -50%)
}

div2 {
	 padding-right: 100px;
	 padding-left: 100px;
	 font-family: 'Minion';
	 font-size: 30px;
	 position: absolute;
     top: 910px;
     left: 50%;
     margin-right: -50%;
     overflow: hidden;
     line-height: 40px;
     text-align: center;
     z-index: -1;
     transform: translate(-50%, -50%)
}

p {
	font-family: 'Minion';
	font-size: 30px;
	 position: absolute;
     top: 350px;
     left: 50%;
     margin-right: -50%;
     overflow: scroll;
     padding-right: 100px;
	 padding-left: 100px;
     transform: translate(-50%, -50%)
}

div3{
 	 padding-right: 100px;
	 padding-left: 100px;
	 font-family: 'Minion';
	 font-size: 30px;
	 position: absolute;
     top: 700px;
     left: 50%;
     margin-right: -50%;
     overflow: hidden;
     line-height: 40px;
     text-align: center;
     z-index: -1;
     transform: translate(-50%, -50%)
}
.jerry{
position: fixed;
	left: 45%;
	top:35%;
}
.george{
	position: fixed;
	left:55%;
	top:35%;
}
.link{
	background-color: transparent;
	position: absolute;
	width:100%;
	height:100%;
	}
#link{
	background-color: transparent;
	position: absolute;
	width:100%;
	height:100%;
}

.background {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 100%;
}
   





