html {
    background-color: black;
    overflow:visible;
    height:100%;
    width:100%;
}
body {
    margin:0;
    overflow: visible;
    height:100%;
    width:100%;
    cursor: zoom-out;
}

#container{
    position:absolute;
    width:45px;
    height:45px;
    left: 50%;
    top: 50%;
}

.container1{
    position:absolute;
    width:100%;
    height:100%;
}


#a2{
    position:absolute;
    left:35%;
    top: 55%;
}

#a4{
    position: absolute;
    left: 15%;
    top: 20%;
}

#neptune {
    position: absolute;
    left: 75%;
    top: 20%;
}

#moon {
    position: absolute;
    left: 55%;
    top: 10%;
}

.face:hover{
    cursor: zoom-in;
}














