.container {
	width:200px;
	height:600px;
	background-color: blue;
	left: 20%;

}

.rightcontainer {
	float:left;
	position: relative;
	width:200px;
	height:600px;
	background-color: black;
	left:60%;
}