.container {
	position: absolute;
	background-color: blue;
	left: 20%;

}

.rightcontainer {
	float:left;
	position: relative;
	background-color: black;
	left:60%;
}

.container , .rightcontainer {
	width: 500px;
	height: 800px;
	top: 10%;
}