.container {
	position: absolute;
	width:300px;
	height:400px;
	background-color: blue;
	left: 20%;

}

.rightcontainer {
	float:left;
	position: absolute;
	width:300px;
	height:400px;
	background-color: black;
	left:60%;
}

.container , .rightcontainer {
	top: 10%;
}