html {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: hidden;
	}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: hidden;
}

.container {
	position: absolute;
	width:400px;
	height:400px;
	background-color: transparent;
	left: 7%;
	overflow: scroll;

}

.rightcontainer {
	float:left;
	position: absolute;
	width:400px;
	height:400px;
	background-color: transparent;
	left:58%;
}

.container , .rightcontainer {
	top: 20%;
}

.groupone , .grouptwo , .groupthree {
	width:400px;
	height: 400px;
}

#image {
	max-width: 100%;
}

.enlarged {
	max-height: none;
}

#rightimage {
	height: 100px;
}

.rightimage {
	height: 100px;
}