::-moz-selection { background: yellow; }
::selection { background: yellow; }

::-webkit-scrollbar { 
    display: none; 
}

::-moz-scrollbar { 
    display: none; 
}

::-scrollbar { 
    display: none; 
}

@font-face {
    font-family: ar;
    src: url(Union-Regular.otf) format("opentype");
}

@font-face {
    font-family: u;
    src: url(Elastik-C.otf) format("opentype");
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fdfdfd;
}

.container {
    width: 100%;
    height: 100%;
    
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 20%;
    min-width: 20%;
    background-color: white;
    overflow: scroll;
    -webkit-transition: width .3s linear;
  	-moz-transition: width .3s linear;
  	-o-transition: width .3s linear;
  	transition: width .3s linear;

}

.archive {
	overflow: scroll;
	position: absolute;
    left: 0;
    top: 57;
    bottom: 0;
    right: 0%;
    min-width: 20%;
    background-color: white;
   
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    max-width: 80%;
    background-color: #fdfdfd;
    border-left: 1px solid black;
    overflow: hidden;
	-webkit-transition: width .3s linear;
  	-moz-transition: width .3s linear;
  	-o-transition: width .3s linear;
  	transition: width .3s linear;
}

.box {
	border-bottom: 1px solid black;
	cursor: pointer;
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	float: top;
	height: 57px;
	background-color: #fdfdfd;
	overflow: hidden;
	-webkit-transition: height .7s ease-in-out;
  	-moz-transition: height .7s ease-in-out;
  	-o-transition: height .7s ease-in-out;
  	transition: height .7s ease-in-out;
}


.box:first-child{
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 999;
  	-webkit-transition: height .7s ease-in-out;
  	-moz-transition: height .7s ease-in-out;
  	-o-transition: height .7s ease-in-out;
  	transition: height .7s ease-in-out;
}

.titles {
	position: absolute;
	width: 100%;
	top: 5px;
	left: 10px;
	height: auto;
	text-align: left;
	z-index: 998;
}

.title,.year {
	font-family: ar;
	font-weight: normal;
	font-size: 22;
	max-width: 90%;
}

.title {
	position: relative;
	float: bottom;
	margin-top: 0;
	line-height: 1;
}

.year {
	padding-top: 0;
	margin-top: -16px;
	display: block;
}

.text,.bigimage {
	opacity: .9;
	margin: 0;
	text-align: center;
	font-size: 10;
	cursor: pointer;
	top: 62px;
	cursor: pointer;
	width: 40px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.text:hover,.bigimage:hover{
	background-color: #93ec2c;
}

.bigimage {
	position: absolute;
	float: right;
	font-family: helvetica;
	left: 4px;
	z-index: 999;
}

.text {
	position: absolute;
	right: 5px;
	z-index: 999 !important;
}

a,a:visited {
	font-size: 34;
	font-family: ar;
	text-decoration: none;
	color: #abafff;
	overflow-wrap: break-word;
  	word-wrap: break-word;
}

a:hover {
	color: black;
}

.info {
	z-index: 99;
	font-family: ar;
	margin-top: 30px;
	float: top;
	font-size: 34;
	font-weight: 100;
	max-width: 95%;
	cursor: grab;
}

#T {
	position: absolute;
	width: 60%;
	z-index: 99;
	font-family: ar;
	margin-top: 30px;
	float: top;
	font-size: 34;
	font-weight: 100;
	max-width: 95%;
	-webkit-transition: all .1s;
  	-moz-transition: all .1s;
  	-o-transition: all .1s;
  	transition: all .1s;
}

.height {
	height: 40%;
	color: black;
}

.yes {
	display: inline;
}

.imagesection {
	position: absolute;
	top: 0;
	height: 100%;
	overflow: scroll;
	width: 100%;
	left: 50%;
	transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);

}

.images {
	z-index: 999;
	position: absolute;
	max-width: 600px;
	display: none;
	top: 12%;
	width: 100%;
	left: 50%;
	transform:translate(-50%,0%);
  	-webkit-transform:translate(-50%,0%);
}

.images > img{
	position: relative;
	float: top;
	width: 80%;
	max-width: 600px;
	height: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	left: 50%;
	transform:translate(-50%,0%);
  	-webkit-transform:translate(-50%,0%);
  	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.iframe-c { 
   margin-top: 28%;
   top: 12%;
   max-width: 600px;
   min-width: 80px;
   left: 50%;
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   height: 0;
   overflow:hidden;
   display: none;
   transform:translate(-50%,0%);
  	-webkit-transform:translate(-50%,0%);
  	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
 }

 iframe {
 	position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   min-width: 80px;
   padding-bottom: 56.25%;
 }

.tip {
	background-color: transparent;
	z-index: 999;
	font-family: ar;
	font-size: 16;
	position: fixed;
	top: 72px;
	right: 25%;
	margin: 0;
	animation: bounce 1s infinite alternate;
  	-webkit-animation: bounce 1s infinite alternate;
  	animation-timing-function: ease-in;
  		transform:translate(0%,-50%);
  	-webkit-transform:translate(0%,-50%);
}

.mei {

	display: none;
	position: fixed;
	top: 5%;
	right: 10%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	animation: bee 1s infinite alternate;
  	-webkit-animation: bee 1s infinite alternate;
  	animation-timing-function: ease-in;
  	border: 1px solid black;
  	border-radius: 2px;
  	width: .5%;
  	border-radius: 50%;
  	-webkit-transition: all .75s;
  	-moz-transition: all .75s;
  	-o-transition: all .75s;
  	transition: all .75s;
  	transform:translate(50%,0%);
  	-webkit-transform:translate(50%,0%);
}

.other {
	font-family: ar;
	font-weight: 100;
	font-size: 28;
	position: absolute;
	left: 10px;
	margin-top: 0;
	padding: 0;
	top:-20px;
	width: 50%;
}

.foot {
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	background-color: #fdfdfd;

}

.z {
	position: absolute;
	font-size: 22;
}

.works {
	position: absolute;
	top: 2%;
}

.works > ul > li > a {
	font-family: ar;
	color: #4a21ff;
	font-size: 20;
	cursor: pointer;
}

.works > ul > li > a:hover {
	color: black;
}

ul {
	line-height: 1.25;
}


@keyframes bounce {
  from {
    font-size: 16;
  }
  to {
    font-size: 20;
  }
}
@-webkit-keyframes bounce {
  from {
    font-size: 16;
  }
  to {
    font-size: 20;
  }
}

@keyframes bee {
  from {
  	top: .5%;
    border-radius: 50%;
  }
  to {
    border-radius: 40%;
    top: 2.5%;
  }
}

@-webkit-keyframes bee {
  from {
  	top: .5%;
    border-radius: 50%;
  }
  to {
    border-radius: 40%;
    top: 2.5%;
  }
}

/* phone stuff */

@media screen and (max-width: 736px){

	.right {
		display: none;
	}

	.left,.archive {
		width: 100%;
		border: none;
		border-right:none;
		margin: 0;
		padding: 0;
	}

	.box:first-child,.box:first-child:hover {
		display: inline-block;
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		overflow: scroll;
		overflow-x: hidden;
		border-bottom: none;
		background-color: white;
		z-index: 999;
	}

	#T {
		left: 0;
		padding: 0;
		margin: 0;
		width: 100% !important;
		padding-top: 30%;
		padding-bottom: 20%;
		overflow-x: hidden;
	}

	.title,.year {
		background-color: transparent;
		overflow: scroll;
		width: 100%;
		margin: 0;
		padding: 0;

	}

	.title {
		padding-top: 10%;
	}

	.mei{
		display: inline;
		position: absolute;
		right: 25%;
		margin-top: 10%;
		width: 25% !important;
	}

	.leftcontrol,.rightcontrol,.highlighter,.tip,.box,.right,.median,.foot,.iframe-c{
		display: none;
		border: none;
		border-left:none;
		border-right: none;
	}

	html {
		width: 100%;
		overflow: scroll;
		overflow-x: hidden;
		margin: 0;
		padding: 0;
	}

}